.container {
	margin: 0px 50px;
}

form,table{
	margin: 10px
}

table tr,table td {
	background-color: gray;
	padding: 2px;
	height: 40px;
	width: 40px;
    border: 1px solid darkgray;
	text-align: center;
}

div .text-color {
	color: red !important;
}